.cl_headingwrap{
  text-align: center;
}

.cl_maintitle{
  font-size: 32px;
  line-height: 34px;
  color: cadetblue;
  margin: 0 0 10px 0;
}

.cl_subtitle{
  font-size: 26px;
  line-height: 28px;
  color: #000;
  margin: 0;
}

.cl_calgrid{
  display: grid;
  grid-template-columns: repeat(8, auto);
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.cl_calitem{
  text-align: center;
  border: 1px solid #fff;
;
}

.cl__dateText{
  color: #fff;
  font-size: 38px;
  line-height: 46px;
  font-weight: 400
}



.cl_calitem--even{
  background: #22C075;
}

.cl_calitem--odd{
  background: #FDDC39;
}

.cl_calitem--prime{
  background: #FD5F54;
}